[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/farfanoide/oh-my-zsh
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim/bundle/scss-syntax.vim"]
	path = vim/bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
