[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/farfanoide/oh-my-zsh
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "plugins/zaw"]
	path = plugins/zaw
	url = https://github.com/zsh-users/zaw
