[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/farfanoide/oh-my-zsh
[submodule "vim/bundle/vundle.vim"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto
